<!doctype html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- custom css -->
    <link href="../css/style.css" rel="stylesheet">
    <title>weaether.lmao</title>

  </head>
  <body>
     <form>
       <label for="street">First name:</label><br>
       <input type="text" id="street" name="street"><br>
       <label for="state">Last name:</label><br>
       <select id="state" name="state">
        
     </form>
  </body>
</html>
