<!doctype html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- custom css -->
    <link href="../css/weather.css" rel="stylesheet">
    <title>weaether.lmao</title>

  </head>
  <body>
    <div class="card" style="width: 18rem;">
        <img src="(icon)" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"></p>
          <h5 class="card-text">current weather</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
       <img src="..." class="card-img-top" alt="...">
       <div class="card-body">
           <p class="card-title"></p>
           <h5 class="card-text">current weather</h5>
       </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-title"></p>
          <h5 class="card-text">current weather</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-title"></p>
          <h5 class="card-text">current weather</h5>
      </div>
    </div>
  </body>
</html>
