<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Weather</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/bacco.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    {% endblock %}
    <body>
        {% block content %}
        <div class="card">
            <h1 class="title">Identifier:</h1>
            <form method="GET" action="weather/q"enctype="multipart/form-data">
            <input type ="input" id="identifier" name="identifier" required>
            </form>
        </div>
        <ul> <p>Supports:</p>
            <li>Canadian Postal Codes</li>
            <li>UK Postal Codes</li>
            <li>Airport Codes</li>
            <li>Zipcodes</li>
            <li>Names of Cities</li>
            <li>Your IP</li>
        </ul>
        <a  id="autoip" href="/weather/q?identifier=auto:ip" class="autoip">Click here for automatic services</a>
        {% endblock %}
    </body>
</html>
<!-- window.location = 'http://127.0.0.1:5000/weather/' + zipcode.value; return false;"
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" id="zipcode2" name="zipcode2">
        </form>
        <script> 
            $('#zipcode').change(function(){
                 $('#zipcode2').val( $('#zipcode'));
            });
        </script>
-->