<!DOCTYPE html>
<html lang="en">
    <head>
        <<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Weather</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <form name="addressearch" method="GET|POST">
            Street and House Number:<br> <input type="text" name="street">
            City:<br> <input type="text" name="city">
            State Intials:<br> <input type="text" name="ini">
            Zip:<br> <input type="text" name="zip">
            <input type="submit" value="submit">
        </form>
    </body>
</html>