<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Weather</title>
        <link rel="stylesheet" href="../static/css/test.css">
    </head>
    <body>      
        <div class="dropdown">
            <button class="dropbtn">navbar replacement</button>
            <div class="dropdown-content">
              <a href="/">back to the home page</a>
              <a href="/weather">to the weather page (dont click it will show the weather of nonette, auvergne, france)</a>
              <a href="/test">back here again</a>
            </div>
        </div>
    </body>
</html>