<!doctype html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/weather.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>weaether.lmao</title>
    <style>
      .background--custom {
        background: linear-gradient(90deg, #4d4d4d, #000000, #222222);
        background-size: 300% 300%;
        animation: gradient 4s alternate infinite;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -3;
      }
      @keyframes gradient {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 100%;
        }
      }
      </style>

  </head>
  <body>
    <div class="background--custom"></div>
    <div class="card weather-card" style="width: 18rem; height: 18rem; border-radius: 50%;">
        <img src="{{geoapi['current']['condition']['icon']}}" class="card-img-top" alt="...">
        <div class="card-body" style="vertical-align: middle; align-self: center;">
          <p class="card-title">{{geoapi['location']['name']}} , {{geoapi['location']['region']}} , {{geoapi['location']['country']}}</p>
          <h5 class="card-text">{{ geoapi['current']['condition']['text'] }}</h5>
        </div>
    </div>
    <div class="card temperature-card" style="width: 18rem;">
       <div class="card-body">
           <p class="card-title">current temp</p>
           <h5 class="card-text">{{geoapi['current']['temp_f']}}° F / {{geoapi['current']['temp_c']}}° C</h5>
       </div>
    </div>
    <div class="card humidity-card" style="width: 18rem;">
      <div class="card-body">
          <p class="card-title">current humidity</p>
          <h5 class="card-text">{{geoapi['current']['humidity']}}%</h5>
      </div>
    </div>
    <div class="card aqi-card" style="width: 18rem;">
      <div class="card-body">
          <p class="card-title">current aqi</p>
          <h5 class="card-text">76</h5>
      </div>
    </div>
  </body>
</html>
